In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick

In [2]:
df = pd.read_csv('compustat_dailly_ratings_1997_02_to_latest.csv')

C:\Users\Derrick\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (2,3,6,7,8,14,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#splticrm: S&P Domestic Long Term Issuer Credit Rating
#datadate: date bond rating data was collected
#cik: company unique ID
#llc location
#Final data ~3k, most don't have long term ratings, filtered for US companies
df.columns

Index(['gvkey', 'splticrm', 'spsdrm', 'spsticrm', 'datadate', 'add1', 'add2',
       'add3', 'add4', 'addzip', 'busdesc', 'cik', 'city', 'conml', 'county',
       'dlrsn', 'ein', 'fax', 'fic', 'fyrc', 'ggroup', 'gind', 'gsector',
       'gsubind', 'idbflag', 'incorp', 'loc', 'naics', 'phone', 'prican',
       'prirow', 'priusa', 'sic', 'spcindcd', 'spcseccd', 'spcsrc', 'state',
       'stko', 'weburl', 'dldte', 'ipodate', 'conm', 'tic', 'cusip'],
      dtype='object')

In [4]:
df['splticrm'].value_counts()

BBB     60149
B+      48345
BBB+    47786
BBB-    46539
BB-     44129
A-      37203
A       35631
B       34892
BB      34450
BB+     27469
A+      22673
B-      17720
AA-     13008
AA       7409
CCC+     6865
D        5208
AAA      4420
CCC      3515
AA+      2430
CC       1293
CCC-     1126
SD        666
N.M.      182
Name: splticrm, dtype: int64

In [5]:
df['spsdrm'].value_counts()

B-      2383
B       2170
B+      1438
A-      1151
BBB-    1106
BB+      932
BB-      864
BBB      817
BBB+     696
A        518
A+       453
CCC+     423
D        206
AA-      192
CCC      177
AA        76
CCC-      65
AAA       30
CC        22
AA+       20
C         12
BB         5
Name: spsdrm, dtype: int64

In [6]:
df['spsticrm'].value_counts()

A-2     68957
A-1     44184
A-1+    23304
A-3     10871
B        4062
B-2      1128
B-1       744
C         593
B-3       435
D         368
SD         10
Name: spsticrm, dtype: int64

In [7]:
df['spcsrc'].value_counts()

C      395384
B-     251865
B      194856
B+     155963
D      107625
A-      57821
A       42623
A+      12578
LIQ      1248
Name: spcsrc, dtype: int64

In [8]:
lista= ['splticrm','spsdrm','spsticrm','spcsrc']

In [9]:
for i in lista:
    print(i,':',df[i].isnull().sum())

splticrm : 1884358
spsdrm : 2373710
spsticrm : 2232810
spcsrc : 1167503

In [10]:
mask = df['splticrm'].isna() | df['spsticrm'].isna()

In [11]:
df[-mask][['gvkey','splticrm','spsticrm','cik']]

          gvkey splticrm spsticrm        cik
1679       1045       B-      B-3     6201.0
1680       1045       B-      B-3     6201.0
1681       1045       B-      B-3     6201.0
1682       1045       B-      B-3     6201.0
1683       1045       B-      B-3     6201.0
...         ...      ...      ...        ...
2387171  295786      BB+        B  1567094.0
2387172  295786      BB+        B  1567094.0
2387173  295786      BB+        B  1567094.0
2387174  295786      BB+        B  1567094.0
2387175  295786      BB+        B  1567094.0

[151191 rows x 4 columns]

# Return

In [ ]:

returns = pd.read_csv('compustat_daily_prices_1997_02_to_latest.csv')

In [ ]:
returns.head()

In [ ]:
returns['datadate']=(pd.to_datetime(returns['datadate'],format='%Y%m%d'))

In [ ]:
returns['month']= returns['datadate'].dt.month
returns['year']= returns['datadate'].dt.year

In [ ]:
returns['mkcap']= returns['cshom']* returns['prccm']

In [ ]:
# Shift the stock by 1 month
mask = returns['cik']==returns['cik'].shift(-1)
returns['nextmonth_return']= np.where(mask,returns['trt1m'].shift(-1),np.nan)

In [ ]:
# returns

In [ ]:
returns= returns[['cik','prccm','year','month','datadate','trt1m','cshom','mkcap','tic','nextmonth_return']]

# CIK unique company identifier
# PRCCM close price
# CMTH month, CYEAR year
# datadate
# TRT1M monthly total return: monthly multiplication factor for calculating the total return to shareholders of any time period.
# includes Cash Equivalent Distributions (from 01-31-1982 and forward) along with reinvestment of dividends and the compounding effect of dividends paid on reinvested dividends.
# 'cshom' s/o monthly, 'chsoq' s/o quarterly

In [ ]:
returns[returns['tic']=='AAPL']

In [ ]:
filtercap= returns['mkcap'].isna()| returns['cik'].isna()

In [ ]:
returns= returns[-filtercap]

In [ ]:
returns

# rating preparation

In [ ]:
lista

In [ ]:
rating = df[['cik','splticrm', 'spsdrm', 'spsticrm', 'spcsrc','datadate']]

In [ ]:
rating['datadate']=(pd.to_datetime(rating['datadate'],format='%Y%m%d'))
rating['month']= rating['datadate'].dt.month
rating['year']= rating['datadate'].dt.year

# Merged Dataset

In [ ]:

merge_dataset = pd.merge(returns,rating, left_on=['cik','year','month'], right_on= ['cik','year','month'], how='left')

In [ ]:
merge_dataset

In [ ]:
merge_dataset[-merge_dataset['splticrm'].isna()]['cik'].nunique()

In [ ]:
#impor to csv so no need to rerun everything
merge_dataset.to_csv('merge_dataset.csv')

## read in merge_dataset from here

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
merge_dataset = pd.read_csv('merge_dataset.csv')

In [ ]:
# merge_dataset
merge_dataset['day'] = 1
merge_dataset['date'] = pd.to_datetime(merge_dataset[['year', 'month','day']])

In [ ]:
merge_dataset['splticrm'] = merge_dataset['splticrm'].fillna('NO DATA')

In [ ]:
listrating= (list(merge_dataset['splticrm'].unique()))
listrating.sort()
superior = listrating[3:7]
good = listrating[0:3]
adequate = listrating[13:16]
speculative = listrating[10:13]
highly_speculative = listrating[7:10]
highly_speculative.append(listrating[17])
highly_speculative.append(listrating[18])
default=[ 'CCC-','D','CC']
nodata=[ 'NO DATA']

#https://www.tdsecurities.com/tds/content/CMkt_RatingsCorrelation?language=en_CA

In [ ]:
twodim=[]
twodim.append(superior)
twodim.append(good)
twodim.append(adequate)
twodim.append(speculative)
twodim.append(highly_speculative)
twodim.append(default)
twodim.append(nodata)
twodim

In [ ]:
def check_rating(rating):
    
    if rating in superior:
        return 'superior'
    elif rating in good:
        return 'good'
    elif rating in adequate:
        return 'adequate'
    elif rating in speculative:
        return 'speculative'
    elif rating in highly_speculative:
        return 'highly_speculative'
    elif rating in default:
        return 'default'
    elif rating in nodata:
        return 'nodata'
    
# merge_dataset['re-rating']= np.where((merge_dataset['splticrm'].isin(superior), ma)

In [ ]:
merge_dataset['re_rating'] = merge_dataset['splticrm'].map(check_rating)

In [ ]:
# grouped =

In [ ]:
# #calculate value weight for top
# group = top.groupby('date')['tna'].sum().reset_index()
# top = pd.merge(top, group, how='left', left_on='date', right_on='date', suffixes=('', '_top'))
# top['value_weight'] = top['tna'] / top['tna_top']
# top['m1_value'] = (top['m+1_ret'].astype(float))* top['value_weight'].astype(float)

In [ ]:
merge_dataset.groupby(['re_rating','date'])[['cik']].agg('count').to_csv('re_rating_count.csv')

In [ ]:
merge_dataset.groupby(['re_rating','date'])['mkcap'].sum().reset_index()

In [ ]:
total = merge_dataset.groupby(['re_rating','date'])['mkcap'].sum().reset_index()
merge_dataset = pd.merge(merge_dataset, total, how='left', left_on= ['date','re_rating'], right_on=['date','re_rating'] , suffixes=('', '_total'))

In [ ]:
merge_dataset['weight'] = merge_dataset['mkcap'] / merge_dataset['mkcap_total']
merge_dataset['weight_return'] = merge_dataset['nextmonth_return'] * merge_dataset['weight']

In [ ]:
# merge_dataset.groupby('date')['weight_return'].sum().to_csv('test.csv')

In [ ]:
grouped =merge_dataset.groupby(['re_rating','year','month','date'])['weight_return'].agg(['sum','count']).reset_index()
# grouped = grouped.rename(columns = {'splticrm': 'rating'})

In [ ]:
# grouped[grouped['rating'] == 'CCC']

In [ ]:
# merge_dataset.groupby(['year','month','splticrm'])[['nextmonth_return']]#.count().to_csv('groupby_count.csv')
# merge_dataset.groupby(['year','month','splticrm'])[['nextmonth_return']]#.count().to_csv('groupby_mean.csv')

In [ ]:
rate_list = list(grouped['re_rating'].unique())

In [ ]:
grouped

In [ ]:
for i in rate_list:
#     plt.figure(figsize=(10,10))
    mask = grouped['re_rating'] == i
    ax = grouped[mask].plot(x = 'date', y = 'sum', title = i, color = 'teal', figsize = (15,5))
    plt.ylabel('average return')
    ax.yaxis.set_major_formatter(mtick.PercentFormatter())
    plt.show()

In [ ]:
plt.figure(figsize=(10,5))
mask = grouped['rating'] == 'A'

ax = grouped[mask].plot(x = 'date', y = 'sum')
plt.ylabel('average return')
ax.yaxis.set_major_formatter(mtick.PercentFormatter())
plt.show()

# df.plot(x="R", y=["F10.7", "Dst"], style='.')

In [ ]:
grouped['re_rating'].value_counts()

In [ ]:
# for i in ['superior','good','adequate']:
mask = grouped['re_rating'] == 'superior'
df_superior = grouped[mask]
ax=df_superior.plot(x = 'date', y = 'sum', title = 'Average Monthly Return by re_rating', color = 'teal', figsize = (15,5), label = 'superior')

mask = grouped['re_rating'] == 'good'
df_good = grouped[mask]
df_good.plot(x = 'date', y = 'sum', title = 'Average Monthly Return by re_rating', color = 'salmon', ax=ax, label = 'good') 


mask = grouped['re_rating'] == 'adequate'
df_good = grouped[mask]
df_good.plot(x = 'date', y = 'sum', title = 'Average Monthly Return by re_rating', color = 'grey', ax=ax, label = 'adequate') 

mask = grouped['re_rating'] == 'speculative'
df_good = grouped[mask]
df_good.plot(x = 'date', y = 'sum', title = 'Average Monthly Return by re_rating', color = 'pink', ax=ax, label = 'speculative', style = '--')


mask = grouped['re_rating'] == 'highly_speculative'
df_good = grouped[mask]
df_good.plot(x = 'date', y = 'sum', title = 'Average Monthly Return by re_rating', color = 'tomato', ax=ax, label = 'highly_speculative', style = '-') 


mask = grouped['re_rating'] == 'default'
df_good = grouped[mask]
df_good.plot(x = 'date', y = 'sum', title = 'Average Monthly Return by re_rating', color = 'darkgrey', ax=ax, label = 'default') 


# mask = grouped['re_rating'] == 'nodata'
# df_good = grouped[mask]
# df_good.plot(x = 'date', y = 'sum', title = 'Average Monthly Return by re_rating', color = 'red', ax=ax, label = 'nodata') 

# ax = grouped[mask].plot(x = 'date', y = 'sum', title = i, color = 'teal', figsize = (15,5))
# plt.ylabel('average return')
ax.yaxis.set_major_formatter(mtick.PercentFormatter())
ax.set_ylabel('average return')
# #     plt.show()
# ax = df1.plot()
# df2.plot(ax=ax)
plt.show()

In [ ]:
year_1998_2017 = grouped.groupby('re_rating')[['sum']].mean()
year_1998_2017
print('average return difference between AAA and CCC from 1998 to 2017:', float(year_1998_2017.T['superior'] - year_1998_2017.T['default']),'percent')
year_1998_2017

In [ ]:
mask = grouped['year'] <= 2008
year_1998_2008 = grouped[mask].groupby('re_rating')[['sum']].mean()
print('average return difference between superior and default from 1998 to 2008:', float(year_1998_2008.T['superior'] - year_1998_2008.T['default']),'percent')

In [ ]:
mask = grouped['year'] > 2008
grouped[mask].groupby('re_rating')[['sum']].mean()
year_2008_2017 = grouped[mask].groupby('re_rating')[['sum']].mean()
print('average return difference between superior and default from 2008 to 2017:', float(year_2008_2017.T['superior'] - year_2008_2017.T['default']),'percent')

In [ ]:
grouped

# Datareader

### run the cell below if you are not able to  use datareader

In [ ]:
#pip install yfinance

In [ ]:
from pandas_datareader import data as pdr
import yfinance as yf
import datetime

start_sp = datetime.datetime(1998, 1 , 1)
end_sp = datetime.datetime(2020, 1, 31)


yf.pdr_override() # <== that's all it takes :-)
sp500 = pdr.get_data_yahoo('^GSPC', 
                           start_sp,
                             end_sp)
sp500= sp500.reset_index()

sp500['year']=sp500['Date'].dt.year
sp500['month']=sp500['Date'].dt.month

sp500=sp500.drop_duplicates(subset=['year','month'], keep="last")

In [ ]:
sp500

In [ ]:
sp500['next_month_close']= sp500['Adj Close'].shift(-1)
sp500['mkt_return']= (sp500['next_month_close']-sp500['Adj Close'])*100/sp500['Adj Close']

In [ ]:
sp500

In [ ]:
regressiondata= pd.merge(grouped,sp500, left_on=['year','month'], right_on=['year','month'], how='left')

In [ ]:
regressiondata

# Regressing the sp500 and return of portfolio

In [ ]:
# These are just code that i used to create series, it is not efficient in anyway 
masksuperior= regressiondata['re_rating']=='superior'
superior= regressiondata[masksuperior]
maskhighly_speculative= regressiondata['re_rating']=='highly_speculative'
highly_speculative= regressiondata[maskhighly_speculative]

#reset index but its annoying
highlyseries=highly_speculative['sum'].reset_index()
superiorseries=superior['sum'].reset_index()
spreturn=superior['mkt_return'].reset_index()

In [ ]:
import statsmodels.api as sm
x=spreturn['mkt_return']
y=(superiorseries['sum']-highlyseries['sum'])
x = sm.add_constant(x)

In [ ]:
model = sm.OLS(y,x)
results = model.fit()
print(results.summary())